body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 50px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffcc00; /* Cor de destaque ao passar o mouse */
}

.language-selector {
    display: flex;
    align-items: center; /* Centraliza as bandeiras verticalmente */
}

.language-selector .flag {
    width: 24px; /* Aumenta o tamanho da bandeira */
    height: 24px;
    cursor: pointer;
    margin-left: 0.75rem; /* Aumenta o espaçamento entre as bandeiras */
    transition: transform 0.3s ease; /* Animação suave ao passar o mouse */
}

.language-selector .flag:hover {
    transform: scale(1.2); /* Aumenta ligeiramente a bandeira ao passar o mouse */
}

.section {
    padding: 2rem 1rem;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.projetos-grid {
    display: flex;
    gap: 1rem;
}

.projeto-item {
    flex: 1;
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

footer p {
    margin: 0;
}
